.logo{
    height: 3.5rem;
    width: 11rem;
}
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    color: #EC7224;


}
.navbar-menu li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    color: #EC7224;

}
.navbar button{
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    color: #EC7224;


}

.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.item-quantity {
  position: absolute;
  top: -5px; /* Adjust to position it correctly */
  right: -10px; /* Adjust to position it correctly */
  background-color: #EC7224; /* Background color for the quantity badge */
  color: white; /* Text color */
  border-radius: 50%; /* Make it a circle */
  width: 20px; /* Fixed width for the badge */
  height: 20px; /* Fixed height for the badge */
  display: flex; /* Use flexbox to center the text */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: 12px; /* Adjust font size */
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column ;
    gap: 10px;
    background-color: #3C3C3C;
    padding: 12px 25px;
    border-radius: 10%;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
    color: #EC7224;
}
.nav-profile-dropdown li{
    display: ;
    align-items: center ;
    gap: 10px;
    cursor: pointer;

}

.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}


@media (max-width:750px) {
    
    .navbar-menu{
        display: none;
    }
    
}