.header {
    height: 30vw; /* Adjust as needed */
    margin: 30px auto;
    background: url('/yetser5.jpg') no-repeat center center; /* Center the background */
    background-size: cover; /* Cover the entire area */
    position: relative;
    border-radius: 15px;
    width: 85vw; /* Make the header full width */
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-title {
    font-weight: 500;
    color: ;
    font-size: 3.5rem; /* Default size */
    /* Responsive font size */
    font-size: clamp(2rem, 5vw, 3.5rem);
}

.header-subtitle {
    font-weight: 500;
    color: #EC7224;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.header-description {
    color: ;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.explore-button {
    border: rounded;
    color: white;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #EC7224;
    font-size: clamp(0.9rem, 2vw, 1.3rem);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
     .header-description {
        display: none; /* Hide the description on small screens */
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }
    .header-description {
        display: none; /* Hide the description on small screens */
    }
    .header-subtitle{
    font-weight: 300;
    color: black;
    font-size: clamp(1rem, 2vw,2rem);    }
    .explore-button {
        padding: 2vw 4vw;
    }
    .header-title {
    font-weight: 300;
    color: ;
    /* Responsive font size */
    font-size: clamp(1rem, 5vw, 3.5rem);
}
}
